body {
    margin: 0;
    background: rgb(38, 38, 38);
    text-align: center;
    color: white;

}
.page-content {
    background: transparent !important;
}

/* Also target the main site wrapper, as Minima uses this heavily */
.wrapper {
    background: transparent !important;
}