body {
    margin: 0;
    background: rgb(38, 38, 38);
    text-align: center;
    color: white;

}
.wrapper,
.site-content,
.page-content {
    background-color: transparent !important;
}
.main-container {
    background: rgb(38, 38, 38);
    /* Set the background to match your body */
}
